{
    "datacenter": "dc1",
    "data_dir": "/opt/consul",
    "log_level": "DEBUG",
    "node_name": "{{ ansible_hostname }}",
    "server": false,
    "encrypt": "YZP6RQCUcyoST7Y9iCky6g==",
    "domain": "livelinux",
    "addresses": {
      "dns": "127.0.0.1",
      "https": "0.0.0.0",
      "grpc": "127.0.0.1",
      "http": "127.0.0.1"
    },
    "bind_addr": "{{ consul_client_ip }}",
    "start_join": ["{{ consul_server_ip }}"],
    "ports": {
      "dns": 53
     }
}